doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title 403
		link(href="/css/main.css" rel="stylesheet" type="text/css")
	body
		div#p403
			h1 403
			p У Вас недостаточно прав для просмотра данной страницы