doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title operation expired
		link(href="/css/main.css" rel="stylesheet" type="text/css")
	body
		div#p403
			p Операция устарела
			a(href="/") Вернуться на главную страницу