doctype
html(lang=ru)
	head
		include includes/head_common.pug
	body
		include includes/header.pug
		div.wrp
			div.main-page
				img.under-construction(src="/images/v_razrabotke.png", title="Страница находится в разработке")
		include includes/footer.pug