doctype
html(lang="ru")
	head
		title Alaska Room
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		link(rel="stylesheet", type="text/css", href="/css/landing.css")
		script(src="/lib/jquery/jquery-3.1.1.min.js")
		script(src="/js/landing.js")
	body
		div#header
			h1 Alaska Room
		div#content
			h2#title Регистрация
			p#description.
				На первой стадии развития проекта Alaska Room мы ищем заинтересованных студентов. Если Вам нравится идея проекта, то уже сейчас Вы можете зарегистрироваться в системе, указав свой контактный e-mail. Вы станете одним из наших первых пользователей! Как только мы запустим сайт Alaska Room, Вы тут же сможете приступить к поиску лучших руммейтов!
			div#form-register
				div Ваше имя
				input#name(type="text", value="", placeholder="")
				div e-mail
				input#email(type="text", value="", placeholder="")
				input#btn-send-email(type="button", value="Отправить")
		div#footer 	
			div Copyright Alaska Room 2017
		div#popup-window
			div.popup-layout
				div.popup-container.popup-container-medium
					div.popup-header
						div.popup-close закрыть
					div.popup-content 
						
		