* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	margin: 0 auto;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	background-color: #f8f8f8;
}

ol, ul {
  list-style: none;
}

/* Первая страница */

.auth-popup {
	display: none;
    width: 235px;
    height: 120px;
    position: fixed;
    top: 50px;
    right: 3px;
    border: 1px solid #eaeaea;
    box-shadow: 2px 2px 8px 1px #eaeaea;
    background-color: white;
    overflow: hidden;
    border-radius: 3px;
}

.auth-popup .close-auth {
	float: right;
	margin: 10px;
	text-decoration: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #787878;
    border: none;
}

.auth-popup h3 {
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
	text-align: center;
	margin: 13px 10px;
	clear: both;
	color: #787878;
}

.auth-popup .enter-site {
	display: block;
	width: 50%;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
	text-align: center;
	margin: 10px auto;
	padding: 10px;
	color: white;
	background-color: #2a5885;
	border: none;
}

.cover {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.cover h2 {
	display: block;
    text-align: center;
    margin: 80px 0px;
	margin-bottom: 50px;
    color: #787878;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 45px;
    line-height: 60px;
    padding: 15px;
}

.cover h2 span {
	color: #5cb0da;
	font-weight: 500;
	font-size: 53px !important;
}

.cover div {
	display: block;
	width: 31%;
	overflow: hidden;
	margin: 10px;
	float: left;
}

.cover div img {
	display: block;
	width: 70%;
	border-radius: 50%;
	margin: 10px auto;
}

.cover div h3 {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}

.cover-info {
	display: block;
	margin: 30px 0;
	overflow: hidden;
}

.cover-info div {
	display: block;
	width: 30%;
	margin: 20px 15px;
	overflow: hidden;
	float: left;
}

.cover-info div p {
	color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
	background-color: #5cb0da;
	float: left;
	padding: 10px 16px;
	margin-right: 15px;
	overflow: hidden;
}
 
.cover-info div h2 {
	color: #5cb0da;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin: 0px 10px;
    margin-bottom: 10px;
}

.cover-info div h3 {
	color: #484848;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
	line-height: 21px;
	overflow: hidden;
}

.action {
	display: block;
	width: 100%;
	border-top: 1px solid #bcbcbc;
	margin: 30px auto;
	text-align: center;
	overflow: hidden;
}

.action h3 {
	color: #585858;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 27px;
	text-align: center;
	margin: 50px 20px;
	margin-bottom: 30px;
}

.action h2 {
	display: block;
    width: 600px;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin: 10px auto;
    line-height: 25px;
}

.action form {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.action-input {
	display: block;
    width: 30%;
    height: 47px;
    float: left;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    margin: 10px;
    padding-left: 15px;
	font-size: 18px;
	color: #444;
}

.action-btn {
	display: block;
	width: 30%;
	height: 50px;
	float: left;
	background-color: #fd8000;
	border: none;
	letter-spacing: 0.4px;
	color: white;
	font-size: 19px;
	margin: 10px 10px;
	border-radius: 2px;
	margin-bottom: 20px;
	outline: none;
	cursor: pointer;
}

.action-btn:hover {
	background-color: #74adca;
}

.action p {
	display: block;
    width: 600px;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto;
	margin-bottom: 40px;
}

.roommate-cover {
	display: block;
	width: 100%;
	border-bottom: 1px solid #bcbcbc;
	border-top: 1px solid #bcbcbc;
	margin: 30px auto;
	text-align: center;
	overflow: hidden;
}

.roommate-cover h3 {
	color: #5cb0da;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
	text-align: center;
	margin: 50px 20px;
	margin-bottom: 20px;
}

.roommate-cover h2 {
	display: block;
    width: 600px;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin: 10px auto;
	margin-bottom: 30px;
    line-height: 25px;
}

.room-ex {
	display: block;
    width: 31%;
    float: left;
    margin: 14px 10px;
}

.room-ex img {
	display: block;
	width: 100%;
	height: 190px;
}

.room-ex h5 {
    display: block;
    position: relative;
    bottom: 60px;
    left: -15px;
    background-color: rgba(0, 0, 0, 0.61);
    color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 8px 30px;
	margin-bottom: -30px;
    font-size: 23px;
    overflow: hidden;
    float: left;
}

.room-ex h4 {
    width: 98%;
    height: 15px;
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 10px 5px;
	margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
}

.room-ex p {
    color: #787878;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin: 5px;
	text-align: left;
}

.uni-cover {
	display: block;
	width: 100%;
	margin: 30px auto;
	padding-bottom: 30px;
	text-align: center;
	overflow: hidden;
}

.uni-cover h3 {
	color: #5cb0da;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin: 20px 20px;
    margin-bottom: 20px;
}

.uni-cover h4 {
	display: block;
    width: 600px;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin: 10px auto;
	margin-bottom: 30px;
    line-height: 25px;
}

.uni-cover p {
	display: block;
    width: 29%;
    color: #fff;
	background-color: rgb(0, 136, 204);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 10px 10px;
	padding: 10px;
	float: left;
}


/* Хедер */

.top {
	display: block;
	width: 100%;
	height: 50px;
	background-color: #5b9fc2;
	overflow: hidden;
}

.top a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px solid #5b9fc2;
	font-family: 'Roboto', sans-serif;
}

.logo {
	float: left;
    font-size: 21px;
    margin: 13px 25px;
}

.top-nav {
	float: right;
}

.top-nav a {
	float: left;
	margin: 16px 15px;
}

.top-nav a.nav-button,
.top-nav a.nav-button:link,
.top-nav a.nav-button:active,
.top-nav a.nav-button:visited {
	color: #fff;
	width: 82%;
    padding: 8px 25px;
    border: 1px solid #fff;
    margin: 0 auto;
	margin-top: -3px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.top-nav a.nav-button:hover {
	background-color: #fff;
    color: #3e8cb3;
}

.mbl-view {
	display: none !important;
}

.mbl-profile {
	display: none !important;
}

.user-profile {
	float: right;
	margin: 16px 20px;
}

.user-profile:hover {
	border-bottom: 2px solid #fff;
}

.top-nav a:hover {
	border-bottom: 2px solid #fff;
}

.wrp {
	display: block;
	width: 100%;
	max-width: 1000px;
	min-height: calc(100vh - 50px);
	overflow: hidden;
	margin: 0px auto;
}

/*Стили для главной страницы с фильтрами*/

.main-page {
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 20px auto;
}

.main-filter {
	display: block;
	width: 27%;
	height: auto;
	margin: 10px;
	float: left;
	overflow: hidden;
}

.main-filter p {
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 10px 5px;
	margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
}

.prime-filter {
	display: block;
    width: 98%;
    height: 40px;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #5eb0e0;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    color: #787878;
    padding: 5px;
    cursor: pointer;
}

.lower-filter {
	display: block;
    width: 98%;
    height: 40px;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    color: #787878;
    padding: 5px;
    cursor: pointer;
}

.find-filter {
	display: block;
	width: 50%;
	text-decoration: none;
    background-color: #3e9fd7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: none;
	text-align: center;
    margin: 20px auto;
	padding: 10px;
    color: white;
}

.listing {
	display: block;
	width: 68%;
	height: auto;
	margin: 10px;
	float: left;
}

.user-list {
	display: block;
	width: 30%;
	height: auto;
	overflow: hidden;
	margin: 10px;
	float: left;
	cursor: pointer;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.user-list img {
	display: block;
	width: 100%;
}

.user-list h4 {
    width: 98%;
    height: 15px;
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 10px 5px;
	margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
}

.user-list p {
	color: #787878;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin: 5px;
	text-align: left;
}

.room-list {
	display: block;
    width: 30%;
    height: 175px;
    float: left;
    margin: 14px 10px;
	cursor: pointer;
}

.room-list img {
	display: block;
	height: 80%;
}

.room-list h5 {
    display: block;
    position: relative;
    bottom: 60px;
    left: -7px;
    background-color: rgba(0, 0, 0, 0.61);
    color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 8px 30px;
	margin-bottom: -30px;
    font-size: 23px;
    overflow: hidden;
    float: left;
}

.room-list h4 {
    width: 98%;
    height: 15px;
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 10px 5px;
	margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
}

.room-list p {
    color: #787878;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin: 5px;
	text-align: left;
}

.load-more {
	display: block;
    text-decoration: none;
    text-align: center;
    margin: 30px auto;
    clear: both;
    float: right;
    text-transform: uppercase;
    color: #3c86ab;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
	cursor: pointer;
}

/*Страница Профиля пользователя*/

.roommate-header {
	display: block;
	margin: 10px;
	margin-bottom: 0;
	width: 96%;
	height: auto;
	clear: both;
	overflow: hidden;
	border-radius: 3px;
	padding: 7px 11px;
	background-color: #fff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.roommate-header h6 {
	margin: 10px;
    color: #3e9fd7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.profile-user {
	display: block;
	width: 30%;
	height: auto;
	overflow: hidden;
	float: left;
}

.profile-user img {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 3px;
	margin: 30px auto;
	overflow: hidden;
}

.profile-user h3 {
	font-size: 20px;
	font-weight: 600;
	color: #555;
	margin: 20px;
	text-align: center;
}

.profile-user p {
	font-size: 14px;
	font-weight: 400;
	color: #777;
	margin: 20px;
	line-height: 20px;
	text-align: center;
}

.profile-user h4 {
	font-size: 11px;
	font-weight: 400;
	color: #999;
	margin: 20px;
	line-height: 20px;
	text-align: center;
}

.request-info {
	display: block;
	width: 80%;
	height: 40px;
	border: 2px solid #5b9fc2;
	color: #5b9fc2;
	background-color: transparent;
	font-size: 16px;
	margin: 10px auto;
	outline: none;
	cursor: pointer;
}

.request-info:hover {
	background-color: #5b9fc2;
	color: white;
}

.complain {
	display: block;
	clear: both;
	width: 80%;
	height: 40px;
	border: none;
	color: #f77474;
	background-color: transparent;
	font-size: 14px;
	margin: 5px auto;
	outline: none;
	cursor: pointer;
}

.complain:hover {
	background-color: #f77474;
	color: white;
}

.profile-param {
	display: block;
	width: 70%;
	height: auto;
	overflow: hidden;
	margin: 10px auto;
	float: right;
}

.user-desc {
	display: block;
	width: 98%;
	height: auto;
	margin: 10px auto;
	overflow: hidden;
	padding: 7px 0;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.user-desc h3 {
	font-size: 20px;
    color: #555;
    margin: 10px;
    font-weight: 400;
    padding-bottom: 7px;
    padding-left: 10px;
    border-bottom: 1px solid #eaeaea;
}

.user-desc p {
	font-size: 14px;
    color: #888;
    margin: 10px;
    line-height: 20px;
    font-weight: 300;
}

.user-caracter {
	display: block;
	width: 98%;
	height: auto;
	margin: 10px auto;
	overflow: hidden;
	border-radius: 3px;
	padding: 7px 0;
	background-color: #fff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.caracter {
	display: block;
	width: 30%;
	height: 50px;
	overflow: hidden;
	margin: 10px 5px;
	padding-left: 5px;
	float: left;
}

.caracter h4 {
	font-size: 13px;
    color: #555;
    margin: 5px;
    font-weight: 600;
}

.caracter p {
	font-size: 13px;
    color: #888;
    margin: 5px;
    font-weight: 300;
}

.edit-user {
	font-size: 13px;
	color: #555;
	margin: 10px 10px;
}

.edit-user a {
	text-decoration: none;
	color: #5b9fc2;
}

.edit-user a:hover {
	text-decoration: underline;
}

.add-room {
	font-size: 13px;
	color: #555;
	margin: 10px 10px;
}

.add-room a {
	text-decoration: none;
	color: #5b9fc2;
}

.add-room a:hover {
	text-decoration: underline;
}

.room-header {
	display: block;
	margin: 10px;
	margin-top: 0;
	width: 95%;
	height: auto;
	clear: both;
	overflow: hidden;
	border-radius: 3px;
	padding: 7px 11px;
	background-color: #fff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.room-header h6 {
	margin: 10px;
    color: #3e9fd7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.room-post {
	display: block;
	margin: 10px;
	margin-top: 0;
	width: 70%;
	height: auto;
	float: left;
	overflow: hidden;
	border-radius: 3px;
	padding: 7px 11px;
	background-color: #fff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.room-main h3 {
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
	color: #727272;
	margin: 10px;
	text-transform: uppercase;
}

.room-main h4 {
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
	color: #727272;
	margin: 10px;
	text-transform: uppercase;
} 

.big-pic {
	display: block;
	width: 98%;
	overflow: hidden;
	margin: 10px auto;
	margin-top: 20px;
}

.small-pic {
	display: block;
	width: 32%;
	overflow: hidden;
	margin: 10px 4px;
	float: left;
}

.room-desc {
	display: block;
	margin: 10px;
	margin-top: 20px;
	width: 100%;
	height: auto;
	float: left;
	overflow: hidden;
}

.room-desc h3 {
	display: block;
    margin: 20px 0px;
	margin-top: 10px;
    color: #3e9fd7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.room-desc p {
	display: block;
    margin: 20px 0px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
	line-height: 25px;
}

.room-param {
	display: block;
	width: 22%;
	height: auto;
	float: left;
	overflow: hidden;
	border-radius: 3px;
	padding: 7px 11px;
	margin-bottom: 10px;
	background-color: #fff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.room-param h3 {
    margin: 15px 0px;
    color: #3e9fd7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
	text-align: center;
}

.room-param h4 {
    margin: 15px 0px;
    color: #3e9fd7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
	text-align: center;
}

.room-param p {
    margin: 10px;
    color: #999;
    font-weight: 400;
    font-size: 13px;
}

/*Страница Факультет*/

.fl-left {
	float: left;
	margin-top: 20px !important;
}

.user-small {
	display: block;
	width: 15%;
	height: auto;
	overflow: hidden;
	margin: 10px 8px;
	float: left;
	cursor: pointer;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.user-small img {
	display: block;
	width: 100%;
}

.user-small h4 {
    width: 98%;
    height: 15px;
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin: 10px 5px;
	margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
}

.user-small p {
	color: #787878;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin: 5px;
	text-align: left;
}

.last-five {
    display: block;
    width: 100%;
    height: auto;
	margin: 10px auto;
    margin-bottom: 30px;
    overflow: hidden;
}

.last-five h3 {
	font-size: 13px;
	text-align: center;
	margin: 20px;
	color: #999;
	line-height: 16px;
}

.option-input {
	display: block;
	width: 250px;
	height: 40px;
	margin: 10px 5px;
	font-family: 'Roboto', sans-serif;
	border: 2px solid #5eb0e0;
	border-radius: 3px;
	float: right;
    font-weight: 400;
    font-size: 15px;
	color: #787878;
	padding: 5px;
	cursor: pointer;
}

/*Стили для создания объявления*/

.user-desc textarea {
	display: block;
	width: 97%;
	height: 100px;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	padding-left: 10px;
	margin: 10px auto;
}

.user-setting {
	display: block;
    width: 98%;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
    padding: 7px 0;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.user-setting div {
	display: block;
	width: 32%;
	height: auto;
	margin: 10px 3px;
	margin-bottom: 0;
	overflow: hidden;
	float: left;
}

.user-setting p {
	font-size: 13px;
	color: #555;
	margin: 10px;
	line-height: 15px;
}

.option-set {
	display: block;
    width: 96%;
    height: 40px;
    margin: 10px 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    color: #787878;
    padding: 5px;
    cursor: pointer;
}

.option-set-small {
	display: block;
    width: 89%;
    height: 25px;
    margin: 10px 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    color: #787878;
    padding: 5px;
    cursor: pointer;
}

.option-set-big {
	display: block;
    width: 95%;
    height: 25px;
    margin: 10px 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    color: #787878;
    padding: 5px;
    cursor: pointer;
}

.save-btn {
	display: block;
	width: 90%;
	height: 35px;
	border: none;
	background-color: #5b9fc2;
	font-size: 15px;
	font-weight: 600;
	color: white;
	margin: 50px auto;
	margin-bottom: 10px;
	cursor: pointer;
	outline: none;
}

.save-btn:hover {
	background-color: #2f7294;
}

.user-setting label {
	display: block;
    width: 25%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #727272;
    margin: 10px;
}

.room-photos {
	display: block;
    width: 30%;
    height: auto;
    overflow: hidden;
    float: left;
}

.room-photos div {
	width: 44%;
    overflow: hidden;
    margin: 10px 3px;
    margin-left: 12px;
	margin-bottom: 5px;
	float: left;
}

.room-photos a {
	text-decoration: none;
	color: #3e9fd7;
	font-size: 11px;
	float: right;
	margin: 5px;
}

.room-photos a:hover {
	text-decoration: underline;
}

.room-photos img {
	display: block;
    width: 98%;
	overflow: hidden;
}

.final-ad {
	display: block;
    width: 230px;
    height: 40px;
    border: none;
    background-color: #5b9fc2;
    font-size: 15px;
    color: white;
    margin: 20px;
    margin-bottom: 10px;
	float: right;
    cursor: pointer;
    outline: none;
}

/*Страница Откликов*/

.respond-line {
	display: block;
	width: 100%;
	height: 40px;
	background-color: #f4f4f4;
	overflow: hidden;
}

.respond-line a {
	width: 25%;
	text-decoration: none;
    color: #888888;
    background-color: #f4f4f4;
    padding: 13px;
    overflow: hidden;
    font-size: 12px;
	text-align: center;
    float: left;
}

.respond-line a span {
	color: #5b9fc2;
	font-weight: 600;
}

.respond-line a:hover {
	background-color: #dedede;
}

.user-requests {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 10px auto;
}

.user-requests div {
	display: block;
	width: 23%;
	height: 450px;
	overflow: hidden;
	margin: 10px 8px;
	float: left;
}

.user-requests img {
	display: block;
	width: 100%;
	overflow: hidden;
	border-radius: 3px;
}

.user-requests h3 {
	font-size: 17px;
	color: #777;
	font-weight: 600;
	margin: 20px 10px;
	text-align: center;
}

.user-requests p {
	font-size: 13px;
	color: #999;
	margin: 20px;
	text-align: center;
	line-height: 15px;
}

.got-number {
	color: #333 !important;
	font-weight: 600 !important;
}

.in-wait {
	display: block;
	width: 83%;
	margin: 10px auto;
	text-align: center;
	text-decoration: none;
	color: #5b9fc2;
	font-size: 15px;
	padding: 15px;
	border: 2px dashed #5b9fc2;
	border-radius: 30px;
}

.in-pos {
	display: block;
	width: 80%;
	margin: 10px auto;
	text-align: center;
	text-decoration: none;
	color: #1cbd4d;
	font-size: 15px;
	padding: 15px;
	border: 2px solid #1cbd4d;
	border-radius: 30px;
}

.in-neg {
	display: block;
	width: 83%;
	margin: 10px auto;
	text-align: center;
	text-decoration: none;
	color: #f34040;
	font-size: 15px;
	padding: 15px;
	border: 2px solid #f34040;
	border-radius: 30px;
}

.in-com {
	display: block;
	width: 83%;
	margin: 10px auto;
	margin-top: 15px;
	text-align: center;
	text-decoration: none;
	color: #f34040;
	font-size: 13px;
	border-radius: 30px;
}

.got-prop {
	height: auto !important;
}


/*Стили для футера*/

.footer {
	display: block;
    width: 100%;
    height: 50px;
    background-color: #333;
    border-top: 1px solid #e4e4e4;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    overflow: hidden;
}

.footer p {
	color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 18px;
    text-align: center;
}

/*Стили для мобильной версии*/

@media only screen and (min-device-width : 481px) and (max-device-width : 720px) {

.top {
	height: 79px;
}

.logo {
	font-size: 19px;
	margin-left: 15px;
}

.top-nav {
	clear: both;
	width: 99%;
	height: 41px;
	color: f3f3f3;
}

.top-nav a {
	width: 32%;
	text-align: center;
	margin: 0;
	padding: 10px 0px;
	font-size: 12px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: 500;
}

.top-nav a:hover {
	border-bottom: 2px solid #f3f3f3;
}


/*Промо страница*/

.cover h2 {
	line-height: 25px;
	margin: 40px 0;
	margin-bottom: 5px;
}

.cover h2 span {
	font-size: 25px !important;
}

.cover div {
	width: 27%;
}

.cover div h3 {
	font-size: 14px;
	margin: 15px auto;
}

.cover-info {
	width: 98%;
}

.cover-info div {
	width: 43%;
	margin: 10px 5px 10px 15px;
	float: left;
}

.cover-info div p {
	font-size: 12px;
	font-weight: 400;
	padding: 4px 7px;
	margin-right: 7px;
}
.cover-info div h2 {
	font-size: 12px;
	font-weight: 400;
	margin-top: 3px;
}

.cover-info div h3 {
	font-size: 11px;
	line-height: 15px;
	font-weight: 300;
	margin-left: 7px;
}

.roommate-cover {
	margin: 10px auto;
}

.roommate-cover h3 {
	font-size: 24px;
	line-height: 25px;
	margin: 20px auto;
}

.roommate-cover h2 {
	width: 90%;
	font-size: 14px;
	line-height: 15px;
}

.room-ex {
	width: 90%;
}

.uni-cover h3 {
	font-size: 24px;
	line-height: 25px;
}

.uni-cover h4 {
	width: 90%;
}

.uni-cover p {
	width: 37%;
}

.register {
	margin-top: 10px;
}

.action {
	margin-bottom: 5px;
}

.action h3 {
	font-size: 21px;
	margin-top: 20px;
}

.action h2 {
	width: 90%;
}

.mbl-view {
	display: block !important;
}

.clear-view {
	display: block;
	width: 96%;
	height: auto;
	overflow: hidden;
	margin: 10px auto;
	clear: both;
}

.mbl-filter {
	display: block;
	width: 96%;
	height: 40px;
	overflow: hidden;
	margin: 5px;
    margin-right: 5px;
	margin-right: 0;
	border: 2px solid #aeaeae;
	color: #aeaeae;
	outline: none;
	background-color: transparent;
	float: left;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
}

.user-profile {
	display: none !important;
}

.mbl-profile {
	display: block !important;
	float: right;
}

.mbl-profile img{
	display: block;
	width: 25px;
	height: 25px;
	float: right;
	padding: 10px 15px;
}

/*Стили для главной с фильтрами - мобильная*/

.main-page {
	margin: 0 auto;
}

.main-filter {
	display: none;
	width: 94%;
}

.listing {
	width: 100%;
	margin: 10px auto;
	float: none;
}

.user-list {
	width: 47%;
	margin: 10px 4px;
	background-color: white;
	border-radius: 2px;
	padding-bottom: 2px;
}

.user-list img {
	width:100%;
}

.room-list {
	width: 90%;
	margin: 15px auto;
	float: none;
	height: auto;
	background-color: white;
	border-radius: 2px;
	padding-bottom: 2px;
	clear: both;
}

.load-more {
	float: none;
	margin-bottom: 10px;
}

.room-list img {
	width: 100%;
}

#flake {
	display: none;
}

/*Стили для страницы профиля после входа на сайт*/

.roommate-header {
	width: 88%;
	float: none;
}

.profile-user {
	width: 88%;
	margin: 5px auto;
	float: none;
}

.profile-param {
	width: 96%;
	float: none;
}

.caracter {
	width: 45%;
}

.caracter h4 {
	font-size: 12px;
}

/*Заполенение профайла пользователя*/

.user-setting div {
	width: 98%;
	height: auto;
}

.option-set-small {
	width: 92%;
}

/*Стили профиля другого пользователя*/

.room-header {
	width: 87%;
}

.room-post {
	width: 87%;
	float: none;
}

.room-main h3 {
	font-size: 16px;
}

.room-param {
	width: 38%;
	height: 110px;
	margin: 8px;
	float: left;
}

.room-param p {
	margin: 10px 5px;
	font-size: 12px;
}

/*Стили для страницы откликов*/

.user-requests div {
	width: 44%;
}

.user-requests p {
	font-size: 11px;
}

.in-wait {
	width: 90%;
	padding: 5px;
	font-size: 13px;
	font-weight: 400;
}

/*Стили для страницы Факультета*/

.user-small {
	width: 44%;
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.top {
	height: 79px;
}

.logo {
	font-size: 19px;
	margin-left: 15px;
}

.top-nav {
	clear: both;
	width: 99%;
	height: 41px;
	color: #f3f3f3;
}

.top-nav a {
	width: 32%;
	text-align: center;
	margin: 0;
	padding: 10px 0px;
	font-size: 12px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: 500;
}

.top-nav a:hover {
	border-bottom: 2px solid #f3f3f3;
}


/*Промо страница*/

.cover h2 {
	line-height: 25px;
	margin: 40px 0;
	margin-bottom: 5px;
}

.cover h2 span {
	font-size: 25px !important;
}

.cover div {
	width: 27%;
}

.cover div h3 {
	font-size: 14px;
	margin: 15px auto;
}

.cover-info {
	width: 98%;
}

.cover-info div {
	width: 43%;
	margin: 10px 5px 10px 15px;
	float: left;
}

.cover-info div p {
	font-size: 12px;
	font-weight: 400;
	padding: 4px 7px;
	margin-right: 7px;
}
.cover-info div h2 {
	font-size: 12px;
	font-weight: 400;
	margin-top: 3px;
}

.cover-info div h3 {
	font-size: 11px;
	line-height: 15px;
	font-weight: 300;
	margin-left: 7px;
}

.roommate-cover {
	margin: 10px auto;
}

.roommate-cover h3 {
	font-size: 24px;
	line-height: 25px;
	margin: 20px auto;
}

.roommate-cover h2 {
	width: 90%;
	font-size: 14px;
	line-height: 15px;
}

.room-ex {
	width: 90%;
}

.uni-cover h3 {
	font-size: 24px;
	line-height: 25px;
}

.uni-cover h4 {
	width: 90%;
}

.uni-cover p {
	width: 37%;
}

.register {
	margin-top: 10px;
}

.action {
	margin-bottom: 5px;
}

.action h3 {
	font-size: 21px;
	margin-top: 20px;
}

.action h2 {
	width: 90%;
}

.mbl-view {
	display: block !important;
}

.clear-view {
	display: block;
	width: 96%;
	height: auto;
	overflow: hidden;
	margin: 10px auto;
	clear: both;
}

.mbl-filter {
	display: block;
	width: 96%;
	height: 40px;
	overflow: hidden;
	margin: 5px;
    margin-right: 5px;
	margin-right: 0;
	border: 2px solid #aeaeae;
	color: #aeaeae;
	outline: none;
	background-color: transparent;
	float: left;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
}

.user-profile {
	display: none !important;
}

.mbl-profile {
	display: block !important;
	float: right;
}

.mbl-profile img{
	display: block;
	width: 25px;
	height: 25px;
	float: right;
	padding: 10px 15px;
}

/*Стили для главной с фильтрами - мобильная*/

.main-page {
	margin: 0 auto;
}

.main-filter {
	display: none;
	width: 94%;
}

.listing {
	width: 100%;
	margin: 10px auto;
	float: none;
}

.user-list {
	width: 47%;
	margin: 10px 4px;
	background-color: white;
	border-radius: 2px;
	padding-bottom: 2px;
}

.user-list img {
	width:100%;
}

.room-list {
	width: 90%;
	margin: 15px auto;
	float: none;
	height: auto;
	background-color: white;
	border-radius: 2px;
	padding-bottom: 2px;
	clear: both;
}

.load-more {
	float: none;
	margin-bottom: 10px;
}

.room-list img {
	width: 100%;
}

#flake {
	display: none;
}

/*Стили для страницы профиля после входа на сайт*/

.roommate-header {
	width: 88%;
	float: none;
}

.profile-user {
	width: 88%;
	margin: 5px auto;
	float: none;
}

.profile-param {
	width: 96%;
	float: none;
}

.caracter {
	width: 45%;
}

.caracter h4 {
	font-size: 12px;
}

/*Заполенение профайла пользователя*/

.user-setting div {
	width: 98%;
	height: auto;
}

.option-set-small {
	width: 92%;
}

/*Стили профиля другого пользователя*/

.room-header {
	width: 87%;
}

.room-post {
	width: 87%;
	float: none;
}

.room-main h3 {
	font-size: 16px;
}

.room-param {
	width: 38%;
	height: 110px;
	margin: 8px;
	float: left;
}

.room-param p {
	margin: 10px 5px;
	font-size: 12px;
}

/*Стили для страницы откликов*/

.user-requests div {
	width: 44%;
}

.user-requests p {
	font-size: 11px;
}

.in-wait {
	width: 90%;
	padding: 5px;
	font-size: 13px;
	font-weight: 400;
}

/*Стили для страницы Факультета*/

.user-small {
	width: 44%;
}

}