div.profile-user {
	position: relative;
}

#user_avatar_2 { display: none; }

#avatar-container {
	cursor: pointer;
}

#avatar-container:hover #upload-icon {
	display: block;
}

#upload-icon {
	position: absolute;
	left: 104px;
	top: 97px;
	width: 64px;
	height: 64px;
	background: 0 0 url(../images/upload_file_64_x_64.png) no-repeat;
	cursor: pointer;
	display: none;
}

.info div {
	height: 75px;
}

.priorities > div > p {
    height: 27px;
}

#btn-photo-add {
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

#files {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.final-ad {clear:both;}

.roommate-status {
	width: 80%;
}

.accepted {
	color: #3e9fd7 !important;
}

.declined {
	color: #f77474 !important;
}

#avatar-before {
    width: 100%;
    max-width: 100%;
}

[disabled] {
    cursor: default;
    color: #ccc;
    border-color: #ccc;
}