.respond-line a.current {
    background-color: #dedede;
}

.user-requests .message {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
}

.in-pos, .in-neg {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.in-pos.btn:hover {
    background: #1cbd4d;
    color: #fff;
}

.in-neg.btn:hover {
    background: #f34040;
    color: #fff;
}
