div.top
	a.logo(href="/") AlaskaRoom
	if locals.isAuthorized 
		a.user-profile(href="/auth/logout/"+locals.userId) Выйти
		a.user-profile(href="/profile/view/"+locals.userId) Профиль
		a.mbl-viev.mbl-profile(href="/profile/view/"+locals.userId)
			img(src="/images/usericon.png", alt="profile")
		div.top-nav
			a(href="/campus500") Кампус500
			a(href="/filter") Поиск
			a(href="/requests") Отклики
				span#indicatorNewRequests
			a(href="/faculty") Факультет