div.top
	a.top-logo(href="#") ALASKA ROOM
	a#btn-header-login.top-menu(href="#") ВХОД
	a#btn-header-find-roomate.top-menu.menu-prime(href="#") Ищу румейта
	div.auth-popup
		a#btn-close-auth.close-auth(href="") Х
		h3 Мы сделаем вход через ВК, чтобы доступ имели только студенты
		a#btn-enter-site.enter-site(href="") Войти через ВК