div.top
	a.logo(href="/") AlaskaRoom
	if locals.isAuthorized 
		a.user-profile(href="/profile/view/"+locals.userId) Профиль
		a.mbl-viev.mbl-profile(href="/profile/view/"+locals.userId)
			img(src="/images/usericon.png", alt="profile")
		div.top-nav
			a(href="/filter") Поиск
			a(href="/request") Отклики
			a(href="#") Факультет
	else
		div.top-nav
			a#btn-header-find-roomate(href="#") Ищу румейта
			a#btn-header-login.nav-button(href="#") ВХОД
		div.auth-popup
			a#btn-close-auth.close-auth(href="") Х
			h3 Мы сделаем вход через ВК, чтобы доступ имели только студенты
			a#btn-enter-site.enter-site(href="") Войти через ВК